/* Other characters; loaded after the first content paint. */

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-3000.woff2") format("woff2");
  unicode-range: U+3000, U+3003-3009, U+300C-303F, U+3041-3096, U+3099-30FF, U+3400-37FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-3800.woff2") format("woff2");
  unicode-range: U+3800-3FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-4000.woff2") format("woff2");
  unicode-range: U+4000-47FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-4800.woff2") format("woff2");
  unicode-range: U+4800-4DBF, U+4E01-4E02, U+4E04-4E08, U+4E0C, U+4E0F-4E13, U+4E15-4E23, U+4E26-4E29, U+4E2B-4E2C, U+4E2E-4E39, U+4E3C-4E47, U+4E49-4E4A, U+4E4C-4E4F, U+4E51-4E5E, U+4E60-4E65, U+4E67-4E85, U+4E87, U+4E8A, U+4E8D, U+4E8F-4E90, U+4E93, U+4E95-4EA3, U+4EA5-4EAB, U+4EAD-4EB9, U+4EBB-4EBF, U+4EC1-4EC4, U+4EC6-4EC9, U+4ECC, U+4ECF-4ED5, U+4ED7-4EE2, U+4EE4, U+4EE6-4EEB, U+4EED-4EF5, U+4EF8-4EFA, U+4EFC, U+4EFE-4F00, U+4F02-4F19, U+4F1B-4F45, U+4F47-4F4C, U+4F4E-4F4F, U+4F51-4F52, U+4F54, U+4F56-4F58, U+4F5A-4F5B, U+4F5D-4F5F, U+4F61-4F7E, U+4F80-4F8A, U+4F8C-4F9A, U+4F9C, U+4F9E-4FA6, U+4FA8-4FAD, U+4FAF-4FBE, U+4FC0-4FD6, U+4FD8-4FDC, U+4FDE-4FE0, U+4FE2-4FED, U+4FEF-4FF0, U+4FF2-4FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-5000.woff2") format("woff2");
  unicode-range: U+5000-5018, U+501A-503B, U+503D-504E, U+5050-5059, U+505B, U+505D-50A7, U+50A9-50AB, U+50AD-50CE, U+50D0-5140, U+5142-5144, U+5146-5147, U+514A-514C, U+514E-5164, U+5166-5167, U+5169-516A, U+516E-5170, U+5172, U+5174-5175, U+5178-517B, U+517D-5184, U+5186-518B, U+518E-5198, U+519A-51B2, U+51B4, U+51B6-51C5, U+51C7-51F9, U+51FC-5205, U+5208-5211, U+5213-5216, U+5218, U+521A, U+521C, U+521E-521F, U+5221-5223, U+5225-5228, U+522A, U+522C-522F, U+5231-5235, U+5238-523A, U+523C-524C, U+524E-529A, U+529C-529D, U+52A2-52A7, U+52AA-52FE, U+5300-5304, U+5306-5315, U+5318-5338, U+533B-533E, U+5340-5349, U+534B-534E, U+5350-5354, U+5358-535F, U+5361-536F, U+5371-5372, U+5374-5376, U+5378-5385, U+5387-539E, U+53A0-53C1, U+53C3-53C9, U+53CB, U+53CE-53D0, U+53D2-53D5, U+53D9-53E2, U+53E4-53E5, U+53E7-53E9, U+53EB-53EE, U+53F1, U+53F4-53F6, U+53F8-5407, U+5409-540B, U+540F-5410, U+5412-5425, U+5427-542A, U+542C-542E, U+5430-5449, U+544B-5457, U+5459-547C, U+547E-548B, U+548D-54C0, U+54C2-54C7, U+54C9-54CC, U+54CE-552D, U+552F-5545, U+5547-5583, U+5585-559B, U+559D-5667, U+5669-56DA, U+56DC-56DD, U+56DF, U+56E1-56F3, U+56F5-56FD, U+56FF-5727, U+5729-572F, U+5731-573F, U+5741-5746, U+5748-5750, U+5752-5756, U+5758-578A, U+578C-57DE, U+57E0-57F9, U+57FB-57FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-5800.woff2") format("woff2");
  unicode-range: U+5800-5806, U+5808-586A, U+586C-5882, U+5884-589D, U+589F-5903, U+5905-5906, U+5908-590C, U+590E-5915, U+5917-5919, U+591B-591E, U+5920-5926, U+5928, U+592A-5930, U+5932-5946, U+5948-597C, U+597E-5981, U+5983-59CA, U+59CC-59D2, U+59D5-5B4F, U+5B51-5B56, U+5B59-5B86, U+5B88, U+5B8A-5B8B, U+5B8D-5B99, U+5B9B-5BA0, U+5BA2-5BB8, U+5BBA-5BC5, U+5BC7-5BDE, U+5BE0-5BF8, U+5BFA, U+5BFD-5C00, U+5C02-5C05, U+5C07-5C0E, U+5C10, U+5C12-5C19, U+5C1B-5C30, U+5C32-5C39, U+5C3B-5C3C, U+5C3E-5C3F, U+5C41-5C54, U+5C56-5DE0, U+5DE2-5DE4, U+5DE6-5DF1, U+5DF3-5E02, U+5E04-5E0B, U+5E0D-5E25, U+5E27-5E2D, U+5E2F-5E37, U+5E39-5E44, U+5E46-5E72, U+5E75, U+5E77-5E8E, U+5E90-5E92, U+5E96-5EA5, U+5EA7-5EF9, U+5EFB-5EFF, U+5F01, U+5F03-5F0E, U+5F10-5F14, U+5F16-5F51, U+5F54, U+5F56-5F61, U+5F63-5F70, U+5F72-5F7F, U+5F81-5F84, U+5F86-5F96, U+5F98-5FAD, U+5FAF-5FC2, U+5FC4, U+5FC6-5FD6, U+5FD8, U+5FDA-5FF4, U+5FF6-5FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-6000.woff2") format("woff2");
  unicode-range: U+6000, U+6002-6026, U+6028-603A, U+603C-604A, U+604C-606C, U+606E, U+6070-6075, U+6077-6088, U+608A-60A7, U+60A9-60C4, U+60C6-610E, U+6110-613E, U+6140-620F, U+6212-6215, U+6217, U+6219-6229, U+622B-6236, U+6238-623F, U+6241-624A, U+624C, U+624E-6252, U+6254-6257, U+6259-6266, U+6268-626F, U+6271-6278, U+627A-627D, U+6280-6289, U+628B-6294, U+6296-62A3, U+62A6-62B4, U+62B6-62D1, U+62D3-62DE, U+62E0-62E8, U+62EA-62EB, U+62ED-6300, U+6302-6306, U+6308, U+630A-635E, U+6360-6361, U+6363-636D, U+636F-6387, U+6389-6391, U+6393-63A4, U+63A6, U+63A9-63CE, U+63D1, U+63D3-641B, U+641D-6457, U+6459-6490, U+6492-64A3, U+64A5-64AC, U+64AE-64C4, U+64C6-64CC, U+64CE-652E, U+6530-6535, U+6537-6538, U+653A-653D, U+653F-6544, U+6546-6547, U+6549-6550, U+6552-656F, U+6571-6573, U+6575-6586, U+6588-6598, U+659A-65AC, U+65AE-65AF, U+65B1-65B8, U+65BA-65DF, U+65E1-65E4, U+65E6-65F5, U+65F7-660D, U+660F-661E, U+6620-662E, U+6630-6634, U+6636-663D, U+663F-6659, U+665B-6681, U+6683-6696, U+6698-66F3, U+66F5-66FF, U+6701-6707, U+670A-670C, U+670E-671A, U+671C-671E, U+6720-6729, U+672B, U+672D-6739, U+673B-6742, U+6744-674F, U+6751-675E, U+6760, U+6762-6764, U+6766-677E, U+6780-679B, U+679D-67E4, U+67E6-67FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-6800.woff2") format("woff2");
  unicode-range: U+6800-6806, U+6808-6837, U+683A-683B, U+683D-6845, U+6847, U+6849-6862, U+6864-6884, U+6886-68BF, U+68C1-68D1, U+68D3-6981, U+6983-6A20, U+6A22-6B20, U+6B22-6B61, U+6B66-6BB4, U+6BB6-6BCE, U+6BD0-6BD4, U+6BD6-6C41, U+6C43-6C46, U+6C48-6C9E, U+6CA0, U+6CA2-6CBE, U+6CC0-6CD4, U+6CD6-6CE7, U+6CE9-6D3A, U+6D3C-6D40, U+6D42-6D4A, U+6D4C-6D4E, U+6D50-6D6D, U+6D6F-6D87, U+6D89-6DE0, U+6DE2-6DF6, U+6DF8-6E04, U+6E06-6E1F, U+6E21-6EE0, U+6EE2-6F2A, U+6F2C-6FBF, U+6FC1-6FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-7000.woff2") format("woff2");
  unicode-range: U+7000-70B8, U+70BA-7230, U+7232-7246, U+7249-72B5, U+72B7-72EB, U+72ED-730D, U+730F-73AF, U+73B1-7402, U+7404-7405, U+7407-751E, U+7520-7527, U+7529-7530, U+7532, U+7534-7536, U+7538-753A, U+753C-7544, U+7546-754B, U+754D-7558, U+755A-767A, U+767C, U+767E-7683, U+7685-76D7, U+76D9-76ED, U+76EF-76F3, U+76F5-76F7, U+76F9-770A, U+770C-771E, U+7720-77E4, U+77E6-77EC, U+77EE-77FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-7800.woff2") format("woff2");
  unicode-range: U+7800, U+7802-783F, U+7841-786D, U+786F-788C, U+788E-7939, U+793B, U+793D-795D, U+795F-7980, U+7982-79BA, U+79BC-79C0, U+79C2-79D1, U+79D3-79D7, U+79D9-79EF, U+79F1-7A0A, U+7A0C, U+7A0E-7A32, U+7A34-7A3E, U+7A40-7A79, U+7A7B-7A96, U+7A98-7ACA, U+7ACC-7AD8, U+7ADA-7ADF, U+7AE1-7B25, U+7B27-7B2B, U+7B2D-7B48, U+7B4A-7B55, U+7B57-7B5A, U+7B5C-7B7D, U+7B7F, U+7B81-7B96, U+7B98-7BA0, U+7BA2-7BB0, U+7BB2-7BC6, U+7BC8-7C7A, U+7C7C-7CFA, U+7CFC-7D21, U+7D23-7D2A, U+7D2C-7EA5, U+7EA7-7EA9, U+7EAB-7EC3, U+7EC5-7EC7, U+7EC9-7ECC, U+7ECE, U+7ED0, U+7ED2, U+7ED4, U+7ED6-7ED7, U+7EDA-7EDC, U+7EDE-7EE6, U+7EE8-7EE9, U+7EEB-7EEC, U+7EEE-7EF3, U+7EF5-7F15, U+7F17-7F50, U+7F52-7F6D, U+7F6F-7F71, U+7F73-7FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-8000.woff2") format("woff2");
  unicode-range: U+8000-8002, U+8004, U+8006-8053, U+8055-80CB, U+80CD-80FC, U+80FE-8164, U+8166-81E9, U+81EB-81F2, U+81F4-8229, U+822B-8238, U+823A-826E, U+8270-8271, U+8273-8281, U+8283-82E4, U+82E6-8302, U+8304-8348, U+834A-8388, U+838A-83B1, U+83B3-8424, U+8426-8456, U+8458-85CE, U+85D0-87FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-8800.woff2") format("woff2");
  unicode-range: U+8800-883F, U+8841-884B, U+884D-8864, U+8866-8867, U+8869-88AA, U+88AC-8980, U+8982-89C0, U+89C3, U+89C5, U+89C7, U+89C9-89D1, U+89D3-89E2, U+89E4-89FF, U+8A01-8B65, U+8B67-8BA0, U+8BA2-8BA3, U+8BA5-8BA8, U+8BAA-8BAD, U+8BAF, U+8BB1-8BB7, U+8BB9-8BBD, U+8BC0, U+8BC2-8BC5, U+8BC7-8BCC, U+8BCE-8BD4, U+8BD6-8BDC, U+8BDE-8BE4, U+8BE7-8BF3, U+8BF5-8BF6, U+8BF8-8BF9, U+8BFC-8C02, U+8C04-8C60, U+8C62-8D1E, U+8D20-8D22, U+8D24, U+8D27, U+8D29-8D2B, U+8D2D-8D43, U+8D45-8D76, U+8D78-8D84, U+8D86-8DB2, U+8DB4-8DDC, U+8DDE, U+8DE0-8DF2, U+8DF4-8E29, U+8E2B-8EAA, U+8EAC-8F67, U+8F69-8F6B, U+8F6D, U+8F6F-8F7C, U+8F7E-8F82, U+8F84-8F90, U+8F92, U+8F94-8FB0, U+8FB2-8FB8, U+8FBA-8FBD, U+8FBF-8FC6, U+8FC8-8FCF, U+8FD2-8FD3, U+8FD5-8FD7, U+8FDA, U+8FDC, U+8FDF-8FEF, U+8FF1-8FFC, U+8FFE-8FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-9000.woff2") format("woff2");
  unicode-range: U+9003-9008, U+900A-900F, U+9011-9016, U+9018-9019, U+901B-9052, U+9054-907E, U+9080-90AD, U+90AF-90BA, U+90BC-90E7, U+90E9-90FC, U+90FE-914C, U+914E-9191, U+9193-91C9, U+91CB, U+91CE, U+91D0, U+91D2-949E, U+94A0-94F5, U+94F7-94FD, U+94FF, U+9502-9518, U+951A-957E, U+9580-95E7, U+95E9-95EC, U+95EF-95F1, U+95F3, U+95F5-9604, U+9606-961E, U+9620-9635, U+9637-9643, U+9645, U+9647-964F, U+9651-9663, U+9665-9668, U+966A-968E, U+9691-9693, U+9695-96C5, U+96C7-96FF, U+9701-9731, U+9733-975D, U+975F-9761, U+9763-97F2, U+97F4-97FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-9800.woff2") format("woff2");
  unicode-range: U+9800-9874, U+9876-9878, U+987C-987D, U+9880-9883, U+9885, U+9887-9890, U+9892-9896, U+9899-98CD, U+98CF-9987, U+9989-9995, U+9997-9A72, U+9A74-9A8B, U+9A8D-9A99, U+9A9B-9AA7, U+9AA9-9E1E, U+9E20-9F4F, U+9F51-9FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-400-f800.woff2") format("woff2");
  unicode-range: U+F900-FA6D, U+FF02-FF07, U+FF0A-FF0B, U+FF0D-FF19, U+FF1C-FF1E, U+FF20-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC, U+FFE0-FFE6, U+FFE8-FFEE;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-3000.woff2") format("woff2");
  unicode-range: U+3000, U+3003-3009, U+300C-303F, U+3041-3096, U+3099-30FF, U+3400-37FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-3800.woff2") format("woff2");
  unicode-range: U+3800-3FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-4000.woff2") format("woff2");
  unicode-range: U+4000-47FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-4800.woff2") format("woff2");
  unicode-range: U+4800-4DBF, U+4E01-4E02, U+4E04-4E08, U+4E0C, U+4E0F-4E13, U+4E15-4E23, U+4E26-4E29, U+4E2B-4E2C, U+4E2E-4E39, U+4E3C-4E47, U+4E49-4E4A, U+4E4C-4E4F, U+4E51-4E5E, U+4E60-4E65, U+4E67-4E85, U+4E87, U+4E8A, U+4E8D, U+4E8F-4E90, U+4E93, U+4E95-4EA3, U+4EA5-4EAB, U+4EAD-4EB9, U+4EBB-4EBF, U+4EC1-4EC4, U+4EC6-4EC9, U+4ECC, U+4ECF-4ED5, U+4ED7-4EE2, U+4EE4, U+4EE6-4EEB, U+4EED-4EF5, U+4EF8-4EFA, U+4EFC, U+4EFE-4F00, U+4F02-4F19, U+4F1B-4F45, U+4F47-4F4C, U+4F4E-4F4F, U+4F51-4F52, U+4F54, U+4F56-4F58, U+4F5A-4F5B, U+4F5D-4F5F, U+4F61-4F7E, U+4F80-4F8A, U+4F8C-4F9A, U+4F9C, U+4F9E-4FA6, U+4FA8-4FAD, U+4FAF-4FBE, U+4FC0-4FD6, U+4FD8-4FDC, U+4FDE-4FE0, U+4FE2-4FED, U+4FEF-4FF0, U+4FF2-4FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-5000.woff2") format("woff2");
  unicode-range: U+5000-5018, U+501A-503B, U+503D-504E, U+5050-5059, U+505B, U+505D-50A7, U+50A9-50AB, U+50AD-50CE, U+50D0-5140, U+5142-5144, U+5146-5147, U+514A-514C, U+514E-5164, U+5166-5167, U+5169-516A, U+516E-5170, U+5172, U+5174-5175, U+5178-517B, U+517D-5184, U+5186-518B, U+518E-5198, U+519A-51B2, U+51B4, U+51B6-51C5, U+51C7-51F9, U+51FC-5205, U+5208-5211, U+5213-5216, U+5218, U+521A, U+521C, U+521E-521F, U+5221-5223, U+5225-5228, U+522A, U+522C-522F, U+5231-5235, U+5238-523A, U+523C-524C, U+524E-529A, U+529C-529D, U+52A2-52A7, U+52AA-52FE, U+5300-5304, U+5306-5315, U+5318-5338, U+533B-533E, U+5340-5349, U+534B-534E, U+5350-5354, U+5358-535F, U+5361-536F, U+5371-5372, U+5374-5376, U+5378-5385, U+5387-539E, U+53A0-53C1, U+53C3-53C9, U+53CB, U+53CE-53D0, U+53D2-53D5, U+53D9-53E2, U+53E4-53E5, U+53E7-53E9, U+53EB-53EE, U+53F1, U+53F4-53F6, U+53F8-5407, U+5409-540B, U+540F-5410, U+5412-5425, U+5427-542A, U+542C-542E, U+5430-5449, U+544B-5457, U+5459-547C, U+547E-548B, U+548D-54C0, U+54C2-54C7, U+54C9-54CC, U+54CE-552D, U+552F-5545, U+5547-5583, U+5585-559B, U+559D-5667, U+5669-56DA, U+56DC-56DD, U+56DF, U+56E1-56F3, U+56F5-56FD, U+56FF-5727, U+5729-572F, U+5731-573F, U+5741-5746, U+5748-5750, U+5752-5756, U+5758-578A, U+578C-57DE, U+57E0-57F9, U+57FB-57FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-5800.woff2") format("woff2");
  unicode-range: U+5800-5806, U+5808-586A, U+586C-5882, U+5884-589D, U+589F-5903, U+5905-5906, U+5908-590C, U+590E-5915, U+5917-5919, U+591B-591E, U+5920-5926, U+5928, U+592A-5930, U+5932-5946, U+5948-597C, U+597E-5981, U+5983-59CA, U+59CC-59D2, U+59D5-5B4F, U+5B51-5B56, U+5B59-5B86, U+5B88, U+5B8A-5B8B, U+5B8D-5B99, U+5B9B-5BA0, U+5BA2-5BB8, U+5BBA-5BC5, U+5BC7-5BDE, U+5BE0-5BF8, U+5BFA, U+5BFD-5C00, U+5C02-5C05, U+5C07-5C0E, U+5C10, U+5C12-5C19, U+5C1B-5C30, U+5C32-5C39, U+5C3B-5C3C, U+5C3E-5C3F, U+5C41-5C54, U+5C56-5DE0, U+5DE2-5DE4, U+5DE6-5DF1, U+5DF3-5E02, U+5E04-5E0B, U+5E0D-5E25, U+5E27-5E2D, U+5E2F-5E37, U+5E39-5E44, U+5E46-5E72, U+5E75, U+5E77-5E8E, U+5E90-5E92, U+5E96-5EA5, U+5EA7-5EF9, U+5EFB-5EFF, U+5F01, U+5F03-5F0E, U+5F10-5F14, U+5F16-5F51, U+5F54, U+5F56-5F61, U+5F63-5F70, U+5F72-5F7F, U+5F81-5F84, U+5F86-5F96, U+5F98-5FAD, U+5FAF-5FC2, U+5FC4, U+5FC6-5FD6, U+5FD8, U+5FDA-5FF4, U+5FF6-5FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-6000.woff2") format("woff2");
  unicode-range: U+6000, U+6002-6026, U+6028-603A, U+603C-604A, U+604C-606C, U+606E, U+6070-6075, U+6077-6088, U+608A-60A7, U+60A9-60C4, U+60C6-610E, U+6110-613E, U+6140-620F, U+6212-6215, U+6217, U+6219-6229, U+622B-6236, U+6238-623F, U+6241-624A, U+624C, U+624E-6252, U+6254-6257, U+6259-6266, U+6268-626F, U+6271-6278, U+627A-627D, U+6280-6289, U+628B-6294, U+6296-62A3, U+62A6-62B4, U+62B6-62D1, U+62D3-62DE, U+62E0-62E8, U+62EA-62EB, U+62ED-6300, U+6302-6306, U+6308, U+630A-635E, U+6360-6361, U+6363-636D, U+636F-6387, U+6389-6391, U+6393-63A4, U+63A6, U+63A9-63CE, U+63D1, U+63D3-641B, U+641D-6457, U+6459-6490, U+6492-64A3, U+64A5-64AC, U+64AE-64C4, U+64C6-64CC, U+64CE-652E, U+6530-6535, U+6537-6538, U+653A-653D, U+653F-6544, U+6546-6547, U+6549-6550, U+6552-656F, U+6571-6573, U+6575-6586, U+6588-6598, U+659A-65AC, U+65AE-65AF, U+65B1-65B8, U+65BA-65DF, U+65E1-65E4, U+65E6-65F5, U+65F7-660D, U+660F-661E, U+6620-662E, U+6630-6634, U+6636-663D, U+663F-6659, U+665B-6681, U+6683-6696, U+6698-66F3, U+66F5-66FF, U+6701-6707, U+670A-670C, U+670E-671A, U+671C-671E, U+6720-6729, U+672B, U+672D-6739, U+673B-6742, U+6744-674F, U+6751-675E, U+6760, U+6762-6764, U+6766-677E, U+6780-679B, U+679D-67E4, U+67E6-67FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-6800.woff2") format("woff2");
  unicode-range: U+6800-6806, U+6808-6837, U+683A-683B, U+683D-6845, U+6847, U+6849-6862, U+6864-6884, U+6886-68BF, U+68C1-68D1, U+68D3-6981, U+6983-6A20, U+6A22-6B20, U+6B22-6B61, U+6B66-6BB4, U+6BB6-6BCE, U+6BD0-6BD4, U+6BD6-6C41, U+6C43-6C46, U+6C48-6C9E, U+6CA0, U+6CA2-6CBE, U+6CC0-6CD4, U+6CD6-6CE7, U+6CE9-6D3A, U+6D3C-6D40, U+6D42-6D4A, U+6D4C-6D4E, U+6D50-6D6D, U+6D6F-6D87, U+6D89-6DE0, U+6DE2-6DF6, U+6DF8-6E04, U+6E06-6E1F, U+6E21-6EE0, U+6EE2-6F2A, U+6F2C-6FBF, U+6FC1-6FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-7000.woff2") format("woff2");
  unicode-range: U+7000-70B8, U+70BA-7230, U+7232-7246, U+7249-72B5, U+72B7-72EB, U+72ED-730D, U+730F-73AF, U+73B1-7402, U+7404-7405, U+7407-751E, U+7520-7527, U+7529-7530, U+7532, U+7534-7536, U+7538-753A, U+753C-7544, U+7546-754B, U+754D-7558, U+755A-767A, U+767C, U+767E-7683, U+7685-76D7, U+76D9-76ED, U+76EF-76F3, U+76F5-76F7, U+76F9-770A, U+770C-771E, U+7720-77E4, U+77E6-77EC, U+77EE-77FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-7800.woff2") format("woff2");
  unicode-range: U+7800, U+7802-783F, U+7841-786D, U+786F-788C, U+788E-7939, U+793B, U+793D-795D, U+795F-7980, U+7982-79BA, U+79BC-79C0, U+79C2-79D1, U+79D3-79D7, U+79D9-79EF, U+79F1-7A0A, U+7A0C, U+7A0E-7A32, U+7A34-7A3E, U+7A40-7A79, U+7A7B-7A96, U+7A98-7ACA, U+7ACC-7AD8, U+7ADA-7ADF, U+7AE1-7B25, U+7B27-7B2B, U+7B2D-7B48, U+7B4A-7B55, U+7B57-7B5A, U+7B5C-7B7D, U+7B7F, U+7B81-7B96, U+7B98-7BA0, U+7BA2-7BB0, U+7BB2-7BC6, U+7BC8-7C7A, U+7C7C-7CFA, U+7CFC-7D21, U+7D23-7D2A, U+7D2C-7EA5, U+7EA7-7EA9, U+7EAB-7EC3, U+7EC5-7EC7, U+7EC9-7ECC, U+7ECE, U+7ED0, U+7ED2, U+7ED4, U+7ED6-7ED7, U+7EDA-7EDC, U+7EDE-7EE6, U+7EE8-7EE9, U+7EEB-7EEC, U+7EEE-7EF3, U+7EF5-7F15, U+7F17-7F50, U+7F52-7F6D, U+7F6F-7F71, U+7F73-7FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-8000.woff2") format("woff2");
  unicode-range: U+8000-8002, U+8004, U+8006-8053, U+8055-80CB, U+80CD-80FC, U+80FE-8164, U+8166-81E9, U+81EB-81F2, U+81F4-8229, U+822B-8238, U+823A-826E, U+8270-8271, U+8273-8281, U+8283-82E4, U+82E6-8302, U+8304-8348, U+834A-8388, U+838A-83B1, U+83B3-8424, U+8426-8456, U+8458-85CE, U+85D0-87FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-8800.woff2") format("woff2");
  unicode-range: U+8800-883F, U+8841-884B, U+884D-8864, U+8866-8867, U+8869-88AA, U+88AC-8980, U+8982-89C0, U+89C3, U+89C5, U+89C7, U+89C9-89D1, U+89D3-89E2, U+89E4-89FF, U+8A01-8B65, U+8B67-8BA0, U+8BA2-8BA3, U+8BA5-8BA8, U+8BAA-8BAD, U+8BAF, U+8BB1-8BB7, U+8BB9-8BBD, U+8BC0, U+8BC2-8BC5, U+8BC7-8BCC, U+8BCE-8BD4, U+8BD6-8BDC, U+8BDE-8BE4, U+8BE7-8BF3, U+8BF5-8BF6, U+8BF8-8BF9, U+8BFC-8C02, U+8C04-8C60, U+8C62-8D1E, U+8D20-8D22, U+8D24, U+8D27, U+8D29-8D2B, U+8D2D-8D43, U+8D45-8D76, U+8D78-8D84, U+8D86-8DB2, U+8DB4-8DDC, U+8DDE, U+8DE0-8DF2, U+8DF4-8E29, U+8E2B-8EAA, U+8EAC-8F67, U+8F69-8F6B, U+8F6D, U+8F6F-8F7C, U+8F7E-8F82, U+8F84-8F90, U+8F92, U+8F94-8FB0, U+8FB2-8FB8, U+8FBA-8FBD, U+8FBF-8FC6, U+8FC8-8FCF, U+8FD2-8FD3, U+8FD5-8FD7, U+8FDA, U+8FDC, U+8FDF-8FEF, U+8FF1-8FFC, U+8FFE-8FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-9000.woff2") format("woff2");
  unicode-range: U+9003-9008, U+900A-900F, U+9011-9016, U+9018-9019, U+901B-9052, U+9054-907E, U+9080-90AD, U+90AF-90BA, U+90BC-90E7, U+90E9-90FC, U+90FE-914C, U+914E-9191, U+9193-91C9, U+91CB, U+91CE, U+91D0, U+91D2-949E, U+94A0-94F5, U+94F7-94FD, U+94FF, U+9502-9518, U+951A-957E, U+9580-95E7, U+95E9-95EC, U+95EF-95F1, U+95F3, U+95F5-9604, U+9606-961E, U+9620-9635, U+9637-9643, U+9645, U+9647-964F, U+9651-9663, U+9665-9668, U+966A-968E, U+9691-9693, U+9695-96C5, U+96C7-96FF, U+9701-9731, U+9733-975D, U+975F-9761, U+9763-97F2, U+97F4-97FF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-9800.woff2") format("woff2");
  unicode-range: U+9800-9874, U+9876-9878, U+987C-987D, U+9880-9883, U+9885, U+9887-9890, U+9892-9896, U+9899-98CD, U+98CF-9987, U+9989-9995, U+9997-9A72, U+9A74-9A8B, U+9A8D-9A99, U+9A9B-9AA7, U+9AA9-9E1E, U+9E20-9F4F, U+9F51-9FFF;
}

@font-face {
  font-family: "Source Han Sans SC";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("./assets/fonts/source-han-sans-sc-500-f800.woff2") format("woff2");
  unicode-range: U+F900-FA6D, U+FF02-FF07, U+FF0A-FF0B, U+FF0D-FF19, U+FF1C-FF1E, U+FF20-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC, U+FFE0-FFE6, U+FFE8-FFEE;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-3000.woff2") format("woff2");
  unicode-range: U+3000, U+3003-3009, U+300C-303F, U+3041-3096, U+3099-30FF, U+3400-37FF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-3800.woff2") format("woff2");
  unicode-range: U+3800-3FFF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-4000.woff2") format("woff2");
  unicode-range: U+4000-47FF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-4800.woff2") format("woff2");
  unicode-range: U+4800-4DBF, U+4E01-4E02, U+4E04-4E08, U+4E0C, U+4E0F-4E13, U+4E15-4E23, U+4E26-4E29, U+4E2B-4E2C, U+4E2E-4E39, U+4E3C-4E47, U+4E49-4E4A, U+4E4C-4E4F, U+4E51-4E5E, U+4E60-4E65, U+4E67-4E85, U+4E87, U+4E8A, U+4E8D, U+4E8F-4E90, U+4E93, U+4E95-4EA3, U+4EA5-4EAB, U+4EAD-4EB9, U+4EBB-4EBF, U+4EC1-4EC4, U+4EC6-4EC9, U+4ECC, U+4ECF-4ED5, U+4ED7-4EE2, U+4EE4, U+4EE6-4EEB, U+4EED-4EF5, U+4EF8-4EFA, U+4EFC, U+4EFE-4F00, U+4F02-4F19, U+4F1B-4F45, U+4F47-4F4C, U+4F4E-4F4F, U+4F51-4F52, U+4F54, U+4F56-4F58, U+4F5A-4F5B, U+4F5D-4F5F, U+4F61-4F7E, U+4F80-4F8A, U+4F8C-4F9A, U+4F9C, U+4F9E-4FA6, U+4FA8-4FAD, U+4FAF-4FBE, U+4FC0-4FD6, U+4FD8-4FDC, U+4FDE-4FE0, U+4FE2-4FED, U+4FEF-4FF0, U+4FF2-4FFF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-5000.woff2") format("woff2");
  unicode-range: U+5000-5018, U+501A-503B, U+503D-504E, U+5050-5059, U+505B, U+505D-50A7, U+50A9-50AB, U+50AD-50CE, U+50D0-5140, U+5142-5144, U+5146-5147, U+514A-514C, U+514E-5164, U+5166-5167, U+5169-516A, U+516E-5170, U+5172, U+5174-5175, U+5178-517B, U+517D-5184, U+5186-518B, U+518E-5198, U+519A-51B2, U+51B4, U+51B6-51C5, U+51C7-51F9, U+51FC-5205, U+5208-5211, U+5213-5216, U+5218, U+521A, U+521C, U+521E-521F, U+5221-5223, U+5225-5228, U+522A, U+522C-522F, U+5231-5235, U+5238-523A, U+523C-524C, U+524E-529A, U+529C-529D, U+52A2-52A7, U+52AA-52FE, U+5300-5304, U+5306-5315, U+5318-5338, U+533B-533E, U+5340-5349, U+534B-534E, U+5350-5354, U+5358-535F, U+5361-536F, U+5371-5372, U+5374-5376, U+5378-5385, U+5387-539E, U+53A0-53C1, U+53C3-53C9, U+53CB, U+53CE-53D0, U+53D2-53D5, U+53D9-53E2, U+53E4-53E5, U+53E7-53E9, U+53EB-53EE, U+53F1, U+53F4-53F6, U+53F8-5407, U+5409-540B, U+540F-5410, U+5412-5425, U+5427-542A, U+542C-542E, U+5430-5449, U+544B-5457, U+5459-547C, U+547E-548B, U+548D-54C0, U+54C2-54C7, U+54C9-54CC, U+54CE-552D, U+552F-5545, U+5547-5583, U+5585-559B, U+559D-5667, U+5669-56DA, U+56DC-56DD, U+56DF, U+56E1-56F3, U+56F5-56FD, U+56FF-5727, U+5729-572F, U+5731-573F, U+5741-5746, U+5748-5750, U+5752-5756, U+5758-578A, U+578C-57DE, U+57E0-57F9, U+57FB-57FF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-5800.woff2") format("woff2");
  unicode-range: U+5800-5806, U+5808-586A, U+586C-5882, U+5884-589D, U+589F-5903, U+5905-5906, U+5908-590C, U+590E-5915, U+5917-5919, U+591B-591E, U+5920-5926, U+5928, U+592A-5930, U+5932-5946, U+5948-597C, U+597E-5981, U+5983-59CA, U+59CC-59D2, U+59D5-5B4F, U+5B51-5B56, U+5B59-5B86, U+5B88, U+5B8A-5B8B, U+5B8D-5B99, U+5B9B-5BA0, U+5BA2-5BB8, U+5BBA-5BC5, U+5BC7-5BDE, U+5BE0-5BF8, U+5BFA, U+5BFD-5C00, U+5C02-5C05, U+5C07-5C0E, U+5C10, U+5C12-5C19, U+5C1B-5C30, U+5C32-5C39, U+5C3B-5C3C, U+5C3E-5C3F, U+5C41-5C54, U+5C56-5DE0, U+5DE2-5DE4, U+5DE6-5DF1, U+5DF3-5E02, U+5E04-5E0B, U+5E0D-5E25, U+5E27-5E2D, U+5E2F-5E37, U+5E39-5E44, U+5E46-5E72, U+5E75, U+5E77-5E8E, U+5E90-5E92, U+5E96-5EA5, U+5EA7-5EF9, U+5EFB-5EFF, U+5F01, U+5F03-5F0E, U+5F10-5F14, U+5F16-5F51, U+5F54, U+5F56-5F61, U+5F63-5F70, U+5F72-5F7F, U+5F81-5F84, U+5F86-5F96, U+5F98-5FAD, U+5FAF-5FC2, U+5FC4, U+5FC6-5FD6, U+5FD8, U+5FDA-5FF4, U+5FF6-5FFF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-6000.woff2") format("woff2");
  unicode-range: U+6000, U+6002-6026, U+6028-603A, U+603C-604A, U+604C-606C, U+606E, U+6070-6075, U+6077-6088, U+608A-60A7, U+60A9-60C4, U+60C6-610E, U+6110-613E, U+6140-620F, U+6212-6215, U+6217, U+6219-6229, U+622B-6236, U+6238-623F, U+6241-624A, U+624C, U+624E-6252, U+6254-6257, U+6259-6266, U+6268-626F, U+6271-6278, U+627A-627D, U+6280-6289, U+628B-6294, U+6296-62A3, U+62A6-62B4, U+62B6-62D1, U+62D3-62DE, U+62E0-62E8, U+62EA-62EB, U+62ED-6300, U+6302-6306, U+6308, U+630A-635E, U+6360-6361, U+6363-636D, U+636F-6387, U+6389-6391, U+6393-63A4, U+63A6, U+63A9-63CE, U+63D1, U+63D3-641B, U+641D-6457, U+6459-6490, U+6492-64A3, U+64A5-64AC, U+64AE-64C4, U+64C6-64CC, U+64CE-652E, U+6530-6535, U+6537-6538, U+653A-653D, U+653F-6544, U+6546-6547, U+6549-6550, U+6552-656F, U+6571-6573, U+6575-6586, U+6588-6598, U+659A-65AC, U+65AE-65AF, U+65B1-65B8, U+65BA-65DF, U+65E1-65E4, U+65E6-65F5, U+65F7-660D, U+660F-661E, U+6620-662E, U+6630-6634, U+6636-663D, U+663F-6659, U+665B-6681, U+6683-6696, U+6698-66F3, U+66F5-66FF, U+6701-6707, U+670A-670C, U+670E-671A, U+671C-671E, U+6720-6729, U+672B, U+672D-6739, U+673B-6742, U+6744-674F, U+6751-675E, U+6760, U+6762-6764, U+6766-677E, U+6780-679B, U+679D-67E4, U+67E6-67FF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-6800.woff2") format("woff2");
  unicode-range: U+6800-6806, U+6808-6837, U+683A-683B, U+683D-6845, U+6847, U+6849-6862, U+6864-6884, U+6886-68BF, U+68C1-68D1, U+68D3-6981, U+6983-6A20, U+6A22-6B20, U+6B22-6B61, U+6B66-6BB4, U+6BB6-6BCE, U+6BD0-6BD4, U+6BD6-6C41, U+6C43-6C46, U+6C48-6C9E, U+6CA0, U+6CA2-6CBE, U+6CC0-6CD4, U+6CD6-6CE7, U+6CE9-6D3A, U+6D3C-6D40, U+6D42-6D4A, U+6D4C-6D4E, U+6D50-6D6D, U+6D6F-6D87, U+6D89-6DE0, U+6DE2-6DF6, U+6DF8-6E04, U+6E06-6E1F, U+6E21-6EE0, U+6EE2-6F2A, U+6F2C-6FBF, U+6FC1-6FFF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-7000.woff2") format("woff2");
  unicode-range: U+7000-70B8, U+70BA-7230, U+7232-7246, U+7249-72B5, U+72B7-72EB, U+72ED-730D, U+730F-73AF, U+73B1-7402, U+7404-7405, U+7407-751E, U+7520-7527, U+7529-7530, U+7532, U+7534-7536, U+7538-753A, U+753C-7544, U+7546-754B, U+754D-7558, U+755A-767A, U+767C, U+767E-7683, U+7685-76D7, U+76D9-76ED, U+76EF-76F3, U+76F5-76F7, U+76F9-770A, U+770C-771E, U+7720-77E4, U+77E6-77EC, U+77EE-77FF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-7800.woff2") format("woff2");
  unicode-range: U+7800, U+7802-783F, U+7841-786D, U+786F-788C, U+788E-7939, U+793B, U+793D-795D, U+795F-7980, U+7982-79BA, U+79BC-79C0, U+79C2-79D1, U+79D3-79D7, U+79D9-79EF, U+79F1-7A0A, U+7A0C, U+7A0E-7A32, U+7A34-7A3E, U+7A40-7A79, U+7A7B-7A96, U+7A98-7ACA, U+7ACC-7AD8, U+7ADA-7ADF, U+7AE1-7B25, U+7B27-7B2B, U+7B2D-7B48, U+7B4A-7B55, U+7B57-7B5A, U+7B5C-7B7D, U+7B7F, U+7B81-7B96, U+7B98-7BA0, U+7BA2-7BB0, U+7BB2-7BC6, U+7BC8-7C7A, U+7C7C-7CFA, U+7CFC-7D21, U+7D23-7D2A, U+7D2C-7EA5, U+7EA7-7EA9, U+7EAB-7EC3, U+7EC5-7EC7, U+7EC9-7ECC, U+7ECE, U+7ED0, U+7ED2, U+7ED4, U+7ED6-7ED7, U+7EDA-7EDC, U+7EDE-7EE6, U+7EE8-7EE9, U+7EEB-7EEC, U+7EEE-7EF3, U+7EF5-7F15, U+7F17-7F50, U+7F52-7F6D, U+7F6F-7F71, U+7F73-7FFF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-8000.woff2") format("woff2");
  unicode-range: U+8000-8002, U+8004, U+8006-8053, U+8055-80CB, U+80CD-80FC, U+80FE-8164, U+8166-81E9, U+81EB-81F2, U+81F4-8229, U+822B-8238, U+823A-826E, U+8270-8271, U+8273-8281, U+8283-82E4, U+82E6-8302, U+8304-8348, U+834A-8388, U+838A-83B1, U+83B3-8424, U+8426-8456, U+8458-85CE, U+85D0-87FF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-8800.woff2") format("woff2");
  unicode-range: U+8800-883F, U+8841-884B, U+884D-8864, U+8866-8867, U+8869-88AA, U+88AC-8980, U+8982-89C0, U+89C3, U+89C5, U+89C7, U+89C9-89D1, U+89D3-89E2, U+89E4-89FF, U+8A01-8B65, U+8B67-8BA0, U+8BA2-8BA3, U+8BA5-8BA8, U+8BAA-8BAD, U+8BAF, U+8BB1-8BB7, U+8BB9-8BBD, U+8BC0, U+8BC2-8BC5, U+8BC7-8BCC, U+8BCE-8BD4, U+8BD6-8BDC, U+8BDE-8BE4, U+8BE7-8BF3, U+8BF5-8BF6, U+8BF8-8BF9, U+8BFC-8C02, U+8C04-8C60, U+8C62-8D1E, U+8D20-8D22, U+8D24, U+8D27, U+8D29-8D2B, U+8D2D-8D43, U+8D45-8D76, U+8D78-8D84, U+8D86-8DB2, U+8DB4-8DDC, U+8DDE, U+8DE0-8DF2, U+8DF4-8E29, U+8E2B-8EAA, U+8EAC-8F67, U+8F69-8F6B, U+8F6D, U+8F6F-8F7C, U+8F7E-8F82, U+8F84-8F90, U+8F92, U+8F94-8FB0, U+8FB2-8FB8, U+8FBA-8FBD, U+8FBF-8FC6, U+8FC8-8FCF, U+8FD2-8FD3, U+8FD5-8FD7, U+8FDA, U+8FDC, U+8FDF-8FEF, U+8FF1-8FFC, U+8FFE-8FFF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-9000.woff2") format("woff2");
  unicode-range: U+9003-9008, U+900A-900F, U+9011-9016, U+9018-9019, U+901B-9052, U+9054-907E, U+9080-90AD, U+90AF-90BA, U+90BC-90E7, U+90E9-90FC, U+90FE-914C, U+914E-9191, U+9193-91C9, U+91CB, U+91CE, U+91D0, U+91D2-949E, U+94A0-94F5, U+94F7-94FD, U+94FF, U+9502-9518, U+951A-957E, U+9580-95E7, U+95E9-95EC, U+95EF-95F1, U+95F3, U+95F5-9604, U+9606-961E, U+9620-9635, U+9637-9643, U+9645, U+9647-964F, U+9651-9663, U+9665-9668, U+966A-968E, U+9691-9693, U+9695-96C5, U+96C7-96FF, U+9701-9731, U+9733-975D, U+975F-9761, U+9763-97F2, U+97F4-97FF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-9800.woff2") format("woff2");
  unicode-range: U+9800-9874, U+9876-9878, U+987C-987D, U+9880-9883, U+9885, U+9887-9890, U+9892-9896, U+9899-98CD, U+98CF-9987, U+9989-9995, U+9997-9A72, U+9A74-9A8B, U+9A8D-9A99, U+9A9B-9AA7, U+9AA9-9E1E, U+9E20-9F4F, U+9F51-9FFF;
}

@font-face {
  font-family: "Source Han Serif SC";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./assets/fonts/source-han-serif-sc-700-f800.woff2") format("woff2");
  unicode-range: U+F900-FA6D, U+FF02-FF07, U+FF0A-FF0B, U+FF0D-FF19, U+FF1C-FF1E, U+FF20-FFBE, U+FFC2-FFC7, U+FFCA-FFCF, U+FFD2-FFD7, U+FFDA-FFDC, U+FFE0-FFE6, U+FFE8-FFEE;
}
